version: 2.1

orbs:
  moul: moul/build@1.13.0

workflows:
  main:
    jobs:
      - moul/golang-build:
          gopkg: moul.io/anonuuid
      - moul/golang-build:
          gopkg: moul.io/anonuuid
          tag: '1.12'
      - moul/golang-build:
          gopkg: moul.io/anonuuid
          tag: '1.11'
      - moul/docker-build
